DEBUG = True
SECRET_KEY = 'devkey'
FILE_STORAGE = './files'
SQLALCHEMY_DATABASE_URI = 'sqlite:///test.db'
SQLALCHEMY_ECHO = DEBUG
RANDOM_BYTES_PER_ID = 8
HASHFUNC = 'sha256'
FCGI_SOCKET = './dope.sock'
