#banner {
	margin-top: 1em;
}

.login_button_list {
	padding: 0em;
	margin: 0em;
}

.login_button_list li {
	list-style: none;
	display: inline;
	margin: 0.2em;
}

#results {
	margin: 0em;
	padding: 0em;
}

#results li {
	list-style: none;
	background-color: #eeeeee;
	border: 1px solid #cccccc;
	margin: 0em;
	padding: 0.3em;
}
