{% extends "logobase.html" %}

{% block content %}
{{super()}}
<div class="container">
  <div class="col-md-10 col-md-offset-2">
    <h1>Upload successful</h1>
    <p>Your data has been uploaded succesfully:</p>
    {% for file in files %}
      <h2>{{file.filename}}</h2>
      {% with url = url_for('.download_file', id=file.id, _external=True) %}
        The file can be downloaded at <strong>
          <a href="{{url}}">{{url}}</a>
        </strong>
      {% endwith %}
    {% endfor %}
  </div>
</div>
{% endblock %}
